doctype html
html(lang='en')
  head
    title #{project} Builds
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/css/radiator.css')
    script(src='/js/jquery-1.11.0.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/radiator.js')
  body
    block mainContent